.menu{
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ant-input{
    border-radius: 0;
}
.ant-menu-item:first-child{
    margin-top: 0;
}

.float-right{
    display: none;
}
.ant-menu-item-selected .float-right{
    float: right;
    line-height: 40px;
    display: block;
}